.container{
    padding: 5%;
}
.boo-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    img {
        height: 100px;
        width: 100px;
   
      }

.card-body{
    cursor: pointer;

}

.bg-d {
    background-color: #141619;
}
