<div class="container">
<div class="card text-white bg-dark">
    <div class="card-header">
       <div class="title">
        <h1>Books</h1>
       </div>
        <div class="serch">
          <app-serch (newfilterEvent)="filterList($event)"></app-serch>
        </div>
    </div>
    <div class="card-body">
      <div class="boo-list">
          <div  class="card mb-3 bg-d" style="width: 18rem;" 
              *ngFor="let book of filteredBooks"
              (click)="goToDetail(book.url)"
              >  
              <div class="card-body text-center" >
                <p class="card-text text-black">{{ book.name }}</p>
              </div>
              <img src="./assets/photo/book/{{book.name}}.jpg" class="card-img-top" alt="...">
          </div>
      </div>  
    </div>
</div>
</div>
